%btn {
	display: inline-block;
	border-radius: 10px;
	padding: 8px 20px;
	margin: 3px;
	border: 0;
	cursor: pointer;
	box-shadow: $button-shadow;

	&:hover {
		transform: scale(0.98);
	}
}

.btn-primary {
	@extend %btn;
	background-color: $primary-color;
}

.btn-secondary {
	@extend %btn;
	background-color: $secondary-color;
}
