@import 'config';
@import 'utilities';
@import 'buttons';

@import 'index';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-stack;
	background-color: $light-color;
	line-height: 1.6;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

header {
	background-color: $dark-color;

	.logo {
		a {
			color: $secondary-color;
		}
	}
}

.logo {
	font-family: $logo-font-stack;
	font-size: 2.3rem;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

footer {
	display: flex;
	justify-content: center;
	background-color: $dark-color;
	color: $white-color;
	font-family: $logo-font-stack;
	font-size: 1.3rem;

	a {
		color: $white-color;
	}
}
